/* CSS reset 
	(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
*/

/* General styles */
html { 
  background: url(images/art-quiz-page-background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-family: 'Montserrat', Verdana, sans-serif;
	font-weight: 400;
}

h2, h3, h4, h5, h6, p, li{
	font-family: 'Crimson Text', Times, serif;
}



/* Header styles 
	(all the styles inside the < header > or < nav > tags) 
*/


/* Content styles 
	(all the styles inside the < sections > or < aside > tags)
*/
#start-content{
	background-color: black;
	color: white;
	width: 40em;
	height: 20em;
	margin-top: 10em;
	margin-right: auto;
	margin-left: auto;
}

#start-content h1{
	text-transform: uppercase;
	font-size: 1em;
	padding-top: 3em;
	margin-left: 5em;
}

#start-content p{
	font-size: 2em;
	padding-top: 1em;
	margin-left: 2.5em;
}

.yellow-btn{
	width: 11em;
	height: 3em;
	background-color: yellow;
	float: right;
	margin-top: 2em;
	margin-right: 2em;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.yellow-btn:hover{
	background-color: #F22613;
}

#start-content .yellow-btn p{
	font-family: 'Montserrat', Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	color: black;
	margin:1em 0 0 0;
	padding:0;
}

.new-tab{
	width: 11em;
	height: 7em;
	background-color: black;
	color: white;
	  cursor: pointer;
  cursor: hand;
  margin-left: 2em;

}

.new-tab h1, .new-tab p{
	margin-left: 1.5em;
}

.new-tab h1{
	text-transform: uppercase;
	padding-top: 1em;
}

.new-tab p{
	text-decoration: underline;
	padding-top: .75em;
}

.artwork{
	background-color: gray;
	width: 45em;
	height: 25em;
	margin: -3em auto 0 auto;
}

.question{
	width: 25em;
	margin: 2em auto 0 auto;	
	border: 1px solid red;
}

.question .number{
	text-transform: uppercase;
	font-family: 'Montserrat', Verdana, sans-serif;
	font-size: .8em;
	font-weight: 400;
	margin-bottom: 1em;
}

.question .text, .question .options{
		font-size: 2em;
		margin-bottom: .5em;

}

.question .options{
margin-left: 2em;
line-height: 1.5em;
}

/* input {
   vertical-align:middle;
   margin-bottom: 12px;
}

input label:hover{
	color: yellow;
}*/

.options input[type="radio"] {
    display:none;
}

.options label {
    display:inline-block;
    padding:4px 11px;
}

.options label:hover{
	    background-color:yellow;
}

.results{
	background-color: black;
	color: white;
	width: 40em;
	margin-top: 10em;
	margin-right: auto;
	margin-left: auto;
	padding-left: 8em;
	padding-top: 2em;
	padding-bottom: 5em;
}

.results .art-quiz-name{
		font-family: 'Montserrat', Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
 
.results .lg-text, .result-answer, .result-correct, .result-question{
		font-size: 2em;
}

.lg-text:nth-child(3){
	color: red;
	margin-bottom:  1em;
}

.result-image{
	width: 20em;
	height: 10em;
	background-color: red;
	margin-top: 4em;
}

.result-question-number, .your-answer, .correct-answer{
			font-family: 'Montserrat', Verdana, sans-serif;
	text-transform: uppercase;
	font-size: .8em;
	margin-top: 2em;
	margin-bottom: 1em;
}

 .result-answer, .result-correct, .result-question{
 	line-height: .3em;
 }

/*.options input[type="radio"]:checked + label {
    background-color:green;
}*/


/* Footer styles 
	(all the styles inside the < footer > tag)
*/


/* Responsive styles 
	(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/